body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:110px;
  width:270px;
  height:464px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:464px;
}
#u1 {
  position:absolute;
  left:2px;
  top:224px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:540px;
  width:270px;
  height:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:420px;
  top:160px;
  width:420px;
  height:130px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:130px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:420px;
  top:350px;
  width:234px;
  height:135px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:135px;
}
#u7 {
  position:absolute;
  left:2px;
  top:60px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:439px;
  top:392px;
  width:200px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:487px;
  top:437px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:716px;
  top:350px;
  width:234px;
  height:135px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:135px;
}
#u12 {
  position:absolute;
  left:2px;
  top:60px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:750px;
  top:410px;
  width:171px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:448px;
  top:358px;
  width:34px;
  height:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:736px;
  top:358px;
  width:34px;
  height:16px;
  text-decoration:underline;
  color:#0099FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:650px;
  width:500px;
  height:240px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:240px;
}
#u20 {
  position:absolute;
  left:2px;
  top:112px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:210px;
  top:750px;
  width:272px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:269px;
  top:694px;
  width:145px;
  height:44px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:658px;
  top:730px;
  width:209px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:500px;
  top:734px;
  width:130px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u28 {
  position:absolute;
  left:100px;
  top:156px;
  width:60px;
  height:34px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u29 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:165px;
  top:551px;
  width:145px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
